<!DOCTYPE html>
<nav class="bg-blue-600">
  <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <!-- Text Logo aligned to left -->
      <a href="#" class="text-xl font-semibold text-white flex-shrink-0">FlightFinder</a>

      <!-- Centered Navigation Links -->
      <div class="flex-grow flex justify-center space-x-4">
        <a href="home.html"
          class="text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Home</a>
        <a href="about.html" class="text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">About
          us</a>
        <a href="search.html"
          class="text-white inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium">Search</a>
      </div>

      <!-- User Icon aligned to right -->
      <div class="flex-shrink-0">
        <button class="bg-blue-700 p-1 rounded-full text-white focus:outline-none">
          <span class="sr-only">View notifications</span>
          <i class="fas fa-user fa-lg"></i>
        </button>
      </div>
    </div>
  </div>
</nav>