 /* Use the Inter font family for body and all text elements */

 body,
 h1,
 h2,
 h3,
 p {
     font-family: 'Inter', sans-serif;
 }

 /* Custom font weights for headings and paragraph text */
 h1,
 h2,
 h3 {
     font-weight: 500;
     /* Inter medium italic */
     font-style: italic;
 }

 p {
     font-weight: 300;
     /* Inter light */
 }

 /* Background colors for header, footer, and containers */
 nav,
 footer {
     background-color: #4AA8C6 ;
     color: #FFFFFF;
 }

 .navigationBar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 60px;
     background-color: #4AA8C6;
     padding: 0 20px;
 }

 .navigationBar.active{
     font-weight: bold;
     color: red;
 }

 .navigationBar a{
     color: #FFFFFF;
     text-decoration: none;
     margin-right: 20px;
 }

 .middle-items{
     flex-grow: 1;
     justify-content: center;
 }
 .left-items,.right-items,.middle-items{
    display: flex;
     align-items: center;
 }

 .left-items{
     margin-right: auto;
 }

 .container {
     background-color: #FFFFFF;
     color: #000000;
 }

 /* Ensure full viewport height sections */
 .full-height {
     min-height: 100vh;
 }
.flight-result-list {
    gap: .25rem;
    margin-top: 1rem;

}
.result-list li {
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
    list-style: none;
    text-align: center;
}
 .flight-info {
     margin-right: 5rem; /* Adjust the spacing to your liking */
     display: inline-block; /* This makes sure margin is applied properly */
 }