<div th:fragment="navbar">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <div class="navigationBar">
    <div class="left-items">
      <a href="home.html">Flight<br>Finder</a>
    </div>
    <div class="middle-items">
      <a class="active" href="home.html">Home</a>
      <a href="about.html">About</a>
      <a href="search.html">Search</a>
    </div>
    <div class="right-items">
      <a href="#" id="userIcon"><i class="fas fa-user"></i></a>
    </div>
  </div>
    <script>
  </script>
</div>
