<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ProjectStylesheet.css">
</head>
<body>
    <div class="page-container">
        <div class="content-wrap">
            <div th:replace="~{fragments/topnav.html :: navbar}">
            </div>
                <canvas id="myCanvas"></canvas>
        </div>

        <div th:replace="~{fragments/footer.html :: footer}">
        </div>
    </div>
</body>
</html>