<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/searchScript.js"></script>
    <meta charset="UTF-8">
    <title>Flight Finder</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ProjectStylesheet.css">
</head>
<body>
<div class="page-container">
    <div class="content-wrap">
        <div th:replace="~{fragments/topnav.html :: navbar}"></div>

        <!-- Ensure the search form is above the result list -->
        <div th:replace="~{fragments/searchForm.html :: searchForm}"></div>


        <canvas id="myCanvas"></canvas>
    </div>
    <div th:replace="~{fragments/footer.html :: footer}"></div>
</div>
</body>
</html>