<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/homeSearchScript.js"></script>
    <script src="/js/createAccount.js"></script>
    <meta charset="UTF-8">
    <title>FlightFinder</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ProjectStylesheet.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

</head>
<body>
<div class="page-container">
    <div class="content-wrap">
        <div th:replace="~{fragments/topnav.html :: navbar}">
        </div>

        <!-- Login Page -->
        <div class="login-container">
            <div class="login-title">Create Account</div>
            <input type="text" class="login-input" id="username" placeholder="Username">
            <input type="password" class="login-input" id="password" placeholder="Password">
            <button class="login-button-create" onclick="createAccount()">Create Account</button>
            <div class="login-text">or</div>
            <div class="login-links">
                <button class="login-button" onclick="window.location.href='login.html'">Go back to login</button>
            </div>
        </div>



        <canvas id="myCanvas"></canvas>
    </div>
    <div th:replace="~{fragments/footer.html :: footer}">
    </div>
</div>
</body>
</html>