<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flight Details</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ProjectStylesheet.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/flights.css">
  <script src="/js/flightDetailsScript.js"></script>
</head>
<body>
<div class="page-container">
  <div class="content-wrap">
    <div th:replace="~{fragments/topnav.html :: navbar}"></div>

    <div class="flight-details-container">
      <h3 >Flight Details</h3>
      <div id="flightDetails"></div>
    </div>
  </div>
  <div th:replace="~{fragments/footer.html :: footer}"></div>
</div>
</body>
</html>