<!DOCTYPE html>
<html lang="en">
<head style="background-color: #4AA8C6">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ProjectStylesheet.css">

</head>
<body>
<div class ="navigationBar">

    <div class ="left-items">
        <a href="#home">FlightFinder</a>
    </div>

    <div class="middle-items">
        <a class ="active" href='#home'>Home</a>
        <a href="#about">About</a>
        <a href="#search">Search</a>
    </div>

    <div class ="right-items">
        <a href="#user">User</a>
    </div>

</div>

<h2>hei</h2>
<p>Testing</p>


<div class="search-wrapper">
    <label for="searchQuery">Search flights</label>
    <form id="searchForm">
        <input type="search" id="searchQuery" placeholder="Search for flights...">
        <button type="submit">Search</button>
    </form>
</div>

<div class="flight-result-list">
    <div class="result-list">

    </div>
</div>


<script src="/js/searchScript.js"></script>
</body>

<footer style="background-color: #4AA8C6">

</footer>
</html>