<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/accountCreation.js"></script>
  <script src="/js/homeSearchScript.js"></script>
  <meta charset="UTF-8">
  <title>FlightFinder</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ProjectStylesheet.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

</head>
  <body>
    <div class="page-container">
      <div class="content-wrap">
        <div th:replace="~{fragments/topnav.html :: navbar}">
        </div>

    <!-- Login Page -->
    <div class="login-container">
      <div class="login-title">Login or Create Account</div>
      <input type="text" class="login-input" placeholder="Username">
      <input type="password" class="login-input" placeholder="Password">
      <button class="login-button">Login</button>
      <div class="login-links">
        <a href="#" class="create-account">Create Account</a>
        <a href="#" class="forgot-password">Forgot Password?</a>
      </div>
    </div>


        <canvas id="myCanvas"></canvas>
      </div>
      <div th:replace="~{fragments/footer.html :: footer}">
      </div>
    </div>
  </body>
</html>