<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/js/searchScript.js"></script>
  <meta charset="UTF-8">
  <title>Flight Search Results</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ProjectStylesheet.css">
  <style style="font-weight: lighter">

  </style>
</head>
<body>
<div class="page-container">
  <div class="content-wrap">
    <div th:replace="~{fragments/topnav.html :: navbar}"></div>

    <div style="display: flex; justify-content: center;">
    <div th:replace="~{fragments/searchForm.html :: searchForm}"></div>
    </div>
    <div class="flight-result-list">
      <ul class="result-list">
      </ul>
    </div>
    <canvas id="myCanvas"></canvas>
  </div>
  <div th:replace="~{fragments/footer.html :: footer}"></div>
</div>
</body>
</html>