<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ProjectStylesheet.css">
</head>

<body>
<div class ="navigationBar">
  <div class ="left-items">
    <a href="home.html">Flight<br>Finder</a>
  </div>
  <div class="middle-items">
    <a class ="active" href='home.html'>Home</a>
    <a href="about.html">About</a>
    <a href="search.html">Search</a>
  </div>
  <div class ="right-items">
    <a href="#user">User</a>
  </div>
</div>



<div class="flight-result-list">
  <ul class="result-list">
    <li>

    </li>
  </ul>
</div>

<script src="/js/searchScript.js"></script>
</body>

</html>